.error404,
.message404 {
    text-align: center;
}

.error404 {
    color: var(--color-green);
    font-size: 10rem;
}

.message404 {
    color: var(--color-white);
}

@media (min-width: 720px) {
    .error404 {
        font-size: 20rem;
    }
}